html[data-theme='plasticine-cyan']:root {
  // light mode
  --pa-background-color: #caf0f8;
  --pa-layer-color: #ace8f4;
  --pa-text-color: #04181c;
  --pa-primary-color: #1aaac7;
  --pa-primary-text-color: #caf0f8;
  --pa-primary-hover-color: #1692aa;
  --pa-primary-hover-text-color: #caf0f8;

  // dark mode
  --pa-dark-background-color: #0b4955;
  --pa-dark-layer-color: #0f6171;
  --pa-dark-text-color: #caf0f8;
  --pa-dark-primary-color: #1692aa;
  --pa-dark-primary-text-color: #e8f9fc;
  --pa-dark-primary-hover-color: #1aaac7;
  --pa-dark-primary-hover-text-color: #e8f9fc;
}
