html[data-theme='primary']:root {
  // light mode
  --pa-background-color: #def5e5;
  --pa-layer-color: #bcead5;
  --pa-text-color: #544f5a;
  --pa-primary-color: #b3ffae;

  // dark mode
  --pa-dark-background-color: #4f775d;
  --pa-dark-layer-color: #6a9e7c;
  --pa-dark-text-color: #cecce5;
  --pa-dark-primary-color: #62a388;
}
